@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 178 90% 38%;
    --brand-light: 178 90% 42%;
    --brand-dark: 178 90% 33%;
    --black: 0 0% 9%;
    --white: 0 0% 96%;
    --gray: 0 0% 45%;
    --gray-light: 0 0% 65%;
    --gray-dark: 0 0% 25%;
  }

  html,
  body {
    @apply bg-neutral-900 font-sans text-neutral-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
